<div class="overlay" *ngIf="loader">
  <div class="loader-img">
    <img src="./assets/images/Cube-1s-60px.svg">
  </div>
</div>
<div class="border-part">
  <div [formGroup]='form' *ngIf="respData">
		<!--<app-ferpa   *ngIf="showFerpa"   [checkFerpa]="checkFerpa"  (sendToGdpr)="receiveMoveGdpr($event)"></app-ferpa>-->
		<!--<app-gdpr    *ngIf="showGdpr"    [checkGdpr]="checkGdpr"    (sendToPrivacy)="receiveMovePrivacy($event)" ></app-gdpr>-->
		<app-privacy *ngIf="showPrivacy" [checkPrivacy]="checkPrivacy" (sendToOptin)="receiveMoveOptin($event)" ></app-privacy>
		<app-optin   *ngIf="showOptin"
					(changeAdv)="changeAdv($event)"
					(changeAnb)="changeAnb($event)"
					(changeGrd)="changeGrd($event)"
					(chageDoc)="chageDoc($event)"
					(chandeShl)="chandeShl($event)"
					(changeHsn)="changeHsn($event)"
					(changeskillOptIn)="changeskillOptIn($event)"
					(changechatbotOptIn)="changechatbotOptIn($event)"
					(changevoiceChatbotOptIn)="changevoiceChatbotOptIn($event)"
					(changeoptOut)="changeoptOut($event)"
					(submitTheForm)="submitData($event)"

					[checkAdv]="checkAdv" 
					[checkDoc]="checkDoc" 
					[checkAnb]="checkAnb" 
					[checkShl]="checkShl" 
					[checkGrd]="checkGrd" 
					[checkHsn]="checkHsn"  
					[skillOptIn]="skillOptIn"  
					[chatbotOptIn]="chatbotOptIn"  
					[voiceChatbotOptIn]="voiceChatbotOptIn"  
					[optOut]="optOut"  
					[userDetails]="userDetails" 
					[form]='form' ></app-optin>
	</div>
</div>
