<section class="container-fluid">
	<div class="body-part ">
    	<div class="row">
        	<div class="col-md-4">
            	<div class="col-md-11 offset-1">
                  <ul class="list-box2">OPTIN
                      <li>
                          <input type="checkbox" class="box">
                          <h4>exercitationem</h4>
                          ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                      </li>
                      <li>
                          <input type="checkbox" class="box">
                          ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                      </li>

                  </ul>
              </div>
          </div>

          <div class="col-md-4">
            	<div class="col-md-11">
                  <ul class="list-box2">
                      <li>
                          <input type="checkbox" class="box">
                          <h4>exercitationem</h4>
                          ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                      </li>
                      <li>
                          <input type="checkbox" class="box">
                          <h4>exercitationem</h4>
                          ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                      </li>

                  </ul>
              </div>
          </div>


          <div class="col-md-4">
            	<div class="col-md-11">
                    <ul class="list-box2">
                        <li>
                            <input type="checkbox" class="box">
                            <h4>exercitationem</h4> ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        </li>
                        <li>
                            <input type="checkbox" class="box">
                            <h4>exercitationem</h4> ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        </li>
                    </ul>
                    <div class=" clr"></div>
                    <div class="btn con-btn">CONTINUE</div>
              </div>
          </div>
      </div>
  </div>
</section>
