<section class="container-fluid">
    <div class="body-part ">
        <strong>Pick the data you want access to:</strong>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-11 offset-1">
                    <ul class="list-box2">
                        <li>
                            <div>
                                <input type="checkbox" class="box" [ngModel]='checkAdv' (ngModelChange)=submitAdv()>
                            </div>
                            <h4>Key Contacts & Advisors</h4>
                            This category will include name and contact information for your key contacts such as Academic, co-op, financial aid, or athletic advisors; Resident Assistant and Resident Directors, etc.
                        </li>
                        <li>
                            <div>
                                <input type="checkbox" class="box" [ngModel]='checkDoc' (change)=submitDoc()>
                            </div>
                            <h4>Important Documents, Dates, & To Do's</h4>
                            This category will include acknowledgement of whether your financial aid documents are on file, health plan waiver or health insurance documents on file, etc. It will also include information about the status of your refund requests, payment plans, or I Am Here.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-11">  
                    <ul class="list-box2">
                        <li>
                            <div>
                                <input type="checkbox" class="box" [ngModel]='checkAnb' (change)=submitAnb()>
                            </div>
                            <h4>Balances, Dues, Financials</h4>
                            This category will include information about your account balances, such as tuition, room and board balances, husky/dining, laundry and print dollar balances, etc. as well as fees assessed, such as library fees, etc.
                        </li>
                        <li>
                            <div>
                                <input type="checkbox" class="box" [ngModel]='checkShl' (change)=submitShl()>
                            </div>
                            <h4>Schedules & Important Dates</h4>
                            This category will include information about your individual class schedule, class location, class time, name of professor/instructor, etc.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-11">
                    <ul class="list-box2">
                        <li>
                            <div>
                                <input type="checkbox" class="box"  [ngModel]='checkGrd' (change)=submitGrd()>
                            </div>
                            <h4>GPA and Grades</h4>
                            This category will include information about your overall GPA and your final grade for a particular course.
                        </li>
                        <li>
                           <div>
                                <input type="checkbox" class="box" [ngModel]='checkHsn' (change)=submitHsn()>
                            </div>
                          <h4>Housing</h4>
                            This category will include information about your housing assignment, room number, mailbox combination, housing selection information, move-in dates, etc.
                        </li>
                    </ul>
                    <div class=" clr"></div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstname" placeholder="First name" [ngModel]='userDetails.givenName' readonly="true">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nuid" placeholder="NUID"  [ngModel]='userDetails.nuId' readonly="true">
                    </div>
                   
                    <button  class="btn con-btn" (click)=submitForm()>Submit</button>
                    
                </div>
            </div>
        </div>
    </div>
</section>
