<section class="MainContent">
  <picture class="MainContentHeaderBackground">
    <source type="image/webp" data-sizes="auto"
        data-srcset="
          assets/images/responsive/placeholder-180px.webp 180w,
          assets/images/responsive/placeholder-360px.webp 360w,
          assets/images/responsive/placeholder-570px.webp 570w,
          assets/images/responsive/placeholder-720px.webp 720w,
          assets/images/responsive/placeholder-1140px.webp 1140w,
          assets/images/responsive/placeholder-1440px.webp 1440w,
          assets/images/responsive/placeholder-2280px.webp 2280w,
          assets/images/responsive/placeholder-2880px.webp 2880w" />
    <img src="assets/images/responsive/placeholder.svg"
        data-srcset="
          assets/images/responsive/placeholder-180px.jpeg 180w,
          assets/images/responsive/placeholder-360px.jpeg 360w,
          assets/images/responsive/placeholder-570px.jpeg 570w,
          assets/images/responsive/placeholder-720px.jpeg 720w,
          assets/images/responsive/placeholder-1140px.jpeg 1140w,
          assets/images/responsive/placeholder-1440px.jpeg 1440w,
          assets/images/responsive/placeholder-2280px.jpeg 2280w,
          assets/images/responsive/placeholder-2880px.jpeg 2880w" class="lazyload blur-up" data-sizes="auto" alt="Paws Header Image Displaying Amazon Echo Dot" /> </picture>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2 ColOverlap ShadowBox">
        <h1 class="PawsGap BorderBottom">Skill Data Opt-in<img class="PawsConcept" src="assets/svg/paws-concept.svg" alt="Paws" /></h1>
        <p> In order for the Paws Alexa skill to relay information to you through your Echo or the Alexa app, you must opt-in to thw type of data you wish to receive. Select from the categories below to enable them within the skill. You may return to this site to change your preferences at any time. </p>
        <div class="OptInWrap">
          <h3 >Key Contacts &amp; Advisors</h3>
          <p> This category includes name and contact information for your key contacts such as Academic, co-op, financial aid, or athletic advisors; Resident Assistant and Resident Directors, etc. </p>
          <div class="ConsentWrap ConsentWrap--alt">
            <input class="StyleishCheckbox" id="Consent1" type="checkbox" value="agree" />
            <label for="Consent1">Opt-in to Key Contacts &amp; Advisors</label>
          </div>
        </div>
        <div class="OptInWrap">
          <h3>Balances, Dues, Financials</h3>
          <p> This category includes information about your account balances, such as tuition, room and board balances, husky/dining, laundry and print dollar balances, etc. as well as fees assessed, such as library fees, etc. </p>
          <div class="ConsentWrap ConsentWrap--alt">
            <input class="StyleishCheckbox" id="Consent3" type="checkbox" value="agree" />
            <label for="Consent3">Opt-in to Key Contacts &amp; Advisors</label>
          </div>
        </div>
        <div class="OptInWrap">
          <h3>GPA &amp; Grades</h3>
          <p> This category includes information about your overall GPA and your final grade for a particular course. </p>
          <div class="ConsentWrap ConsentWrap--alt">
            <input class="StyleishCheckbox" id="Consent5" type="checkbox" value="agree" />
            <label for="Consent5">Opt-in to Key Contacts &amp; Advisors</label>
          </div>
        </div>
        <div class="OptInWrap">
          <h3>Important Documents, Dates, &amp; To Do's</h3>
          <p> This category includes acknowledgement of whether your financial aid documents are on file, health plan waiver or health insurance documents on file, etc. It also includes information about the status of your refund requests, payment plans, or "I Am Here". </p>
          <div class="ConsentWrap ConsentWrap--alt">
            <input class="StyleishCheckbox" id="Consent2" type="checkbox" value="agree" />
            <label for="Consent2">Opt-in to Key Contacts &amp; Advisors</label>
          </div>
        </div>
        <div class="OptInWrap">
          <h3>Schedules &amp; Important Dates</h3>
          <p> This category includes information about your individual class schedule, class location, class time, name of professor/instructor, etc. </p>
          <div class="ConsentWrap ConsentWrap--alt">
            <input class="StyleishCheckbox" id="Consent4" type="checkbox" value="agree" />
            <label for="Consent4">Opt-in to Key Contacts &amp; Advisors</label>
          </div>
        </div>
        <div class="OptInWrap">
          <h3>Housing</h3>
          <p style="margin-bottom: 1rem;"> This category includes information about your housing assignment, room number, mailbox combination, housing selection information, move-in dates, etc. </p>
          <div class="ConsentWrap ConsentWrap--alt">
            <input class="StyleishCheckbox" id="Consent6" type="checkbox" value="agree" />
            <label for="Consent6">Opt-in to Key Contacts &amp; Advisors</label>
          </div>
        </div>
        <button class="ObjectCentered" type="submit" name="Login" data-link="./next-steps.html">Continue</button>
      </div>
      <!-- /col-12 col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2 ColOverlap ShadowBox --> 
      
    </div>
    <!-- /row --> 
    
  </div>
  <!-- /container --> 
  
</section>
