<div class=" container-fluid header">
    	<div class="row">
    	    <div class="col-md-3 header-left">
   	          <img src="../../../assets/images/logo.jpg" alt="logo">
          </div>
          <div class="col-md-6 header-center">
          </div>
          <div class="col-md-3 header-right">
      	      <img src="../../../assets/images/logo-left.jpg" alt="logo">
          </div>
      </div>
</div>
<div class="border-part"></div>
<!--hrader end-->
<section class="container-fluid">
	<div class="body-part">
    	<div class="row">
        	<div class="col-md-8">
       	    <img src="../../../assets/images/front.jpg" class="img-responsiv">
            </div>

        <div class="col-md-4">
        	<div class="btn sine" (click)="ssoLogin()">SIGN IN</div>
        </div>
    </div>
    </div>
</section>
