<section class="container-fluid">
	<div class="body-part">
    	<div class="row">
        	<div class="col-md-6">
            	<div class="col-md-11">
                    <strong style="font-size: 16px;">GDPR</strong>
                    <p>Yes, I have read the FAQ’s and want to participate in MyHusky  to be able to get personalized answers to my Northeastern-related questions on my smart phone or other personal device.</p>
                    <p>I understand and acknowledge that in order for me to get personalized responses, MyHusky will draw information from secure NU servers, and I expressly consent to making my personal data, as indicated below, available to MyHusky on the N-Powered platform.</p>
                    <p>I understand that my information may be transmitted in an encrypted for but that no other personal information will be stored except as noted above. I agree to indicate which specific data I am willing to have MyHusky access, and I understand that I can opt out of the entire application at any time by selecting the opt out button.</p>
                    <p>I understand that I will have the option of removing my data from the app.</p>

                </div>
          </div>
          <div class="col-md-6">
              <div class="col-md-11">

                  <div class=" clr"></div>
                  <ul class="list-box">
                      <li>
                            <div>
                                 <input type="checkbox" class="box" [ngModel]="gdprStatus" (ngModelChange)="onGdprChange()">
                                By checking this box I agree to the terms and condition and understand my rights
                                under GDPR.
                            </div>
                      </li>
                  </ul>
                  <div class=" clr"></div>
                  <button class="btn con-btn"  [disabled]="!gdprStatus" (click)=moveToPrivacy()>CONTINUE ...</button>
              </div>
          </div>
      </div>
  </div>
</section>

