<div class="register-box">

  <div class="register-logo">
    <span class="logo-lg">
      <!--<img src="../../../favicon.ico" style="width: 70%;">-->
    </span>
    <b>{{title}}</b>
  </div>
  <div class="box">
    <div class="overlay" *ngIf="loader === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
      <p class="login-box-msg">Register as student</p>

      <form name="form" #form="ngForm" (ngSubmit)="onSubmit(form)" role="form">
          <alert [type]="alert?.type" *ngIf="alert?.type !== undefined && alert?.type !== null">
            <strong>{{alert.prefix.toUpperCase()}}!</strong> {{alert.message}}
          </alert>
        <div class="form-group has-feedback">
          <input type="text" id="nuID" placeholder="Northeastern ID*" class="form-control"
                 #nuID="ngModel" ngModel name="nuID" required />
          <span class="error-span" *ngIf="nuID.touched && nuID?.errors?.required">Northeastern ID is required</span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" id="email" name="email" class="form-control" ngModel #email="ngModel"
                 pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                 required placeholder="mail@domain.com*" />
          <span class="error-span" *ngIf="email.touched && email?.errors?.required">Email ID is required</span>
          <span class="error-span" *ngIf="email.touched && email?.errors?.pattern">Invalid Email ID</span>
          <span class="error-span" *ngIf="email.touched && email?.errors?.incorrect">Email ID is already existed. Please try another.</span>
        </div>
        <div class="form-group has-feedback">
          <input type="text" id="fullName" placeholder="Full Name*" class="form-control"
                 #fullName="ngModel" ngModel name="fullName" required />
          <span class="error-span" *ngIf="fullName.touched && fullName?.errors?.required">Full Name is required</span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" id="password" placeholder="Password*"
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                 class="form-control" #password="ngModel" ngModel name="password" required />
          <span class="error-span" *ngIf="password.touched && password?.errors?.required">Password is required</span>
          <span class="error-span" *ngIf="password.touched && password?.errors?.pattern">Password should be 8 - 25 character long and contain at least one number, capital letter and special symbol (@,$)</span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" id="copassword" placeholder="Confirm Password*"
                 (keyup)="confirmPassword(form)"
                 class="form-control" #copassword="ngModel" ngModel name="copassword" required />
          <span class="error-span" *ngIf="copassword.touched && copassword?.errors?.required">Confirm Password is required</span>
          <span class="error-span" *ngIf="copassword.touched && copassword?.errors?.incorrect">Confirm Password not matched</span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <!--<div class="checkbox icheck">-->
            <!--<label>-->
            <!--<input type="checkbox"> I agree to the <a href="#">terms</a>-->
            <!--</label>-->
            <!--</div>-->
            <a routerLink="/" class="text-center">Sign in your account</a>
            <br/>

          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          </div>
          <!--<div class="col-xs-8">-->
          <!--<a routerLink="/forget-password" class="text-center">Forget Password</a>-->
          <!--<br/>-->
          <!--<a routerLink="/forget-username" class="text-center">Forgotten username</a>-->
          <!--</div>-->
          <!-- /.col -->
        </div>
      </form>

      <!--<div class="social-auth-links text-center">-->
      <!--<p>- OR -</p>-->
      <!--<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using-->
      <!--Facebook</a>-->
      <!--<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using-->
      <!--Google+</a>-->
      <!--</div>-->

    </div>

  </div>
  <!-- /.form-box -->
</div>