h2 {
  font-size: 22.0pt;
  color: black;
  font-weight: bold;
}

h4 {
  font-size: 13.0pt;
  font-family: "Calibri Light", sans-serif;
  color: #2f5496;
  font-weight: normal;
}

h3 {
  font-size: 16.0pt;
  font-family: "Calibri Light", sans-serif;
  color: #2f5496;
  font-weight: normal;
}
