<section class="MainContent">
  <picture class="MainContentHeaderBackground">
    <source type="image/webp" data-sizes="auto"
        data-srcset="
          assets/images/responsive/placeholder-180px.webp 180w,
          assets/images/responsive/placeholder-360px.webp 360w,
          assets/images/responsive/placeholder-570px.webp 570w,
          assets/images/responsive/placeholder-720px.webp 720w,
          assets/images/responsive/placeholder-1140px.webp 1140w,
          assets/images/responsive/placeholder-1440px.webp 1440w,
          assets/images/responsive/placeholder-2280px.webp 2280w,
          assets/images/responsive/placeholder-2880px.webp 2880w" />
    <img src="assets/images/responsive/placeholder.svg"
        data-srcset="
          assets/images/responsive/placeholder-180px.jpeg 180w,
          assets/images/responsive/placeholder-360px.jpeg 360w,
          assets/images/responsive/placeholder-570px.jpeg 570w,
          assets/images/responsive/placeholder-720px.jpeg 720w,
          assets/images/responsive/placeholder-1140px.jpeg 1140w,
          assets/images/responsive/placeholder-1440px.jpeg 1440w,
          assets/images/responsive/placeholder-2280px.jpeg 2280w,
          assets/images/responsive/placeholder-2880px.jpeg 2880w" class="lazyload blur-up" data-sizes="auto" alt="Paws Header Image Displaying Amazon Echo Dot" /> </picture>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2 ColOverlap ShadowBox">
        <h1 class="PawsGap BorderBottom">Registration Successful!<img class="PawsConcept" src="assets/svg/paws-concept.svg" alt="Paws" /></h1>
        <p> You are now registered to use the Paws skill for Amazon Alexa. There are just a couple more steps to get started. </p>
        <h3 class="TextCentered">Which device type would you like to use with Paws?</h3>
        <div class="row">
          <div class="col-md-6"> <a class="InstructionsLink" href="./setup-echo.html">
            <picture>
              <source type="image/webp" data-sizes="auto"
                    data-srcset="
                      assets/images/responsive/instructions-echo-180px.webp 180w,
                      assets/images/responsive/instructions-echo-360px.webp 360w,
                      assets/images/responsive/instructions-echo-570px.webp 570w,
                      assets/images/responsive/instructions-echo-720px.webp 720w,
                      assets/images/responsive/instructions-echo-1140px.webp 1140w,
                      assets/images/responsive/instructions-echo-1440px.webp 1440w,
                      assets/images/responsive/instructions-echo-2280px.webp 2280w,
                      assets/images/responsive/instructions-echo-2880px.webp 2880w" />
              <img src="assets/images/responsive/instructions-echo.svg"
                    data-srcset="
                      assets/images/responsive/instructions-echo-180px.jpeg 180w,
                      assets/images/responsive/instructions-echo-360px.jpeg 360w,
                      assets/images/responsive/instructions-echo-570px.jpeg 570w,
                      assets/images/responsive/instructions-echo-720px.jpeg 720w,
                      assets/images/responsive/instructions-echo-1140px.jpeg 1140w,
                      assets/images/responsive/instructions-echo-1440px.jpeg 1440w,
                      assets/images/responsive/instructions-echo-2280px.jpeg 2280w,
                      assets/images/responsive/instructions-echo-2880px.jpeg 2880w" class="lazyload blur-up" data-sizes="auto" alt="Add Paws to my Echo" /> </picture>
            <h2>Add Paws to my Echo</h2>
            </a> </div>
          <!-- /col-md-6 -->
          <div class="col-md-6"> <a class="InstructionsLink" href="./setup-mobile.html">
            <picture>
              <source type="image/webp" data-sizes="auto"
                    data-srcset="
                      assets/images/responsive/instructions-app-180px.webp 180w,
                      assets/images/responsive/instructions-app-360px.webp 360w,
                      assets/images/responsive/instructions-app-570px.webp 570w,
                      assets/images/responsive/instructions-app-720px.webp 720w,
                      assets/images/responsive/instructions-app-1140px.webp 1140w,
                      assets/images/responsive/instructions-app-1440px.webp 1440w,
                      assets/images/responsive/instructions-app-2280px.webp 2280w,
                      assets/images/responsive/instructions-app-2880px.webp 2880w" />
              <img src="assets/images/responsive/instructions-app.svg"
                    data-srcset="
                      assets/images/responsive/instructions-app-180px.jpeg 180w,
                      assets/images/responsive/instructions-app-360px.jpeg 360w,
                      assets/images/responsive/instructions-app-570px.jpeg 570w,
                      assets/images/responsive/instructions-app-720px.jpeg 720w,
                      assets/images/responsive/instructions-app-1140px.jpeg 1140w,
                      assets/images/responsive/instructions-app-1440px.jpeg 1440w,
                      assets/images/responsive/instructions-app-2280px.jpeg 2280w,
                      assets/images/responsive/instructions-app-2880px.jpeg 2880w" class="lazyload blur-up" data-sizes="auto" alt="Add Paws to my Alexa App" /> </picture>
            <h2>Add Paws to my Alexa App</h2>
            </a> </div>
          <!-- /col-md-6 --> 
        </div>
      </div>
      <!-- /col-12 col-sm-10 col-md-10 col-lg-8 offset-sm-1 offset-md-1 offset-lg-2 ColOverlap ShadowBox --> 
      
    </div>
    <!-- /row --> 
    
  </div>
  <!-- /container --> 
  
</section>
