<main class="MainContent">

  <picture class="MainContentHeaderBackground">

    <img src="../../../dist/images/responsive/paws-header-background-4.svg"
         data-srcset="
          ../../../dist/images/responsive/paws-header-background-4-180px.jpeg 180w,
          ../../../dist/images/responsive/paws-header-background-4-360px.jpeg 360w,
          ../../../dist/images/responsive/paws-header-background-4-570px.jpeg 570w,
          ../../../dist/images/responsive/paws-header-background-4-720px.jpeg 720w,
          ../../../dist/images/responsive/paws-header-background-4-1140px.jpeg 1140w,
          ../../../dist/images/responsive/paws-header-background-4-1440px.jpeg 1440w,
          ../../../dist/images/responsive/paws-header-background-4-2280px.jpeg 2280w,
          ../../../dist/images/responsive/paws-header-background-4-2880px.jpeg 2880w" class="lazyload blur-up" data-sizes="auto" alt="" />
  </picture>

  <div class="container">
    <div class="row">

      <div class="col-12 ColOverlap ShadowBox">
        <h1 class="PawsGap BorderBottom">Registration Successful!</h1>

        <p>
          {{userDetails?.givenName}}, you are now registered to use the Paws skill for Amazon Alexa. There are three more steps to get started.
        </p>

        <div class="OptInWrap">

          <h2>1. Download the Amazon Alexa App</h2>

          <p>
            Download the Amazon Alexa mobile application from the <a href="https://itunes.apple.com/us/app/amazon-alexa/id944011620?mt=8" target="_blank">Apple App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.amazon.dee.app&hl=en_US" targe="_blank">Google Play</a>.
          </p>

          <div class="DoubleButtonWrap DoubleButtonWrap--leftAligned">
            <a href="https://itunes.apple.com/us/app/amazon-alexa/id944011620?mt=8" target="_blank"><img src="../../../dist/svg/app-store-icon.svg" alt="Download the Alexa App on the Apple App Store"/></a>
            <a href="https://play.google.com/store/apps/details?id=com.amazon.dee.app&hl=en_US" target="_blank"><img src="../../../dist/svg/google-play-icon.svg" alt="Download the Alexa App on Google Play"/></a>
          </div>

          <span class="OptInDivider"></span>

          <h2>2. Enable the Paws Skill</h2>
          <p>
            Search for Paws in the skill store within the Alexa app and enable it for your account.
          </p>

          <span class="OptInDivider"></span>

          <h2>3. Link Your Husky Account with Paws </h2>
          <p class="bottom0">
            Within the Paws skill, follow the directions to link to your Husky account. You will need to login using your myNortheastern username and password.
          </p>

        </div><!-- /opt-in-wrap -->
        <br />
        <h2 class="large">You’re Ready to Chat with Paws!</h2>

        <p>
          You can now start asking Paws questions to help you navigate your university experience. To start chatting, say, "Alexa, ask Paws..."
        </p>

        <p>
          <a href="http://express.northeastern.edu/paws" target="_blank">What You Can Ask Paws</a>
        </p>

      </div><!-- /col-12 ColOverlap ShadowBox -->

    </div><!-- /row -->

    <div class="row">
      <a class="nPoweredLink" href="https://www.n-powered.com/" target="_blank" rel="nofollow"><img class="nPoweredLogo" src="../../../dist/svg/n-powered-logo.svg" alt="n-Powered" /></a>
    </div><!-- /row -->

  </div><!-- /container -->

</main><!-- /MainContent -->
