<header>
  <div class=" container-fluid header">
    <div class="row">
      <div class="col-md-3 header-left">
        <img src="../../../assets/images/logo.jpg" alt="logo">
      </div>
      <div class="col-md-6 header-center">
        <div class="clr"></div>
      </div>
      <div class="col-md-3 header-right">
        <img src="../../../assets/images/logo-left.jpg" alt="logo">
      </div>
    </div>
  </div>
</header>
<section class="container-fluid">
  <div class="body-part ">
    <div class="row">
      <div class="col-md-12 offset-2">
        <div class="awesom">
        </div>
          <h4>You are not authorized to access this portal. Please click on "Sign-Out" button and log back in with
            authorized credentials. Otherwise, please contact administrator.</h4>

        <div class="col-md-4">
          <div class="btn sine" (click)="ssoLogout()">SIGN OUT</div>
        </div>
      </div>
    </div>

  </div>
</section>
<footer><img src="../../../assets/images/foot.jpg" class="img-responsiv"></footer>
