<main class="MainContent">

  <picture class="MainContentHeaderBackground">

    <img src="../../../dist/images/responsive/paws-header-background-4.svg"
         data-srcset="
          ../../../dist/images/responsive/paws-header-background-4-180px.jpeg 180w,
          ../../../dist/images/responsive/paws-header-background-4-360px.jpeg 360w,
          ../../../dist/images/responsive/paws-header-background-4-570px.jpeg 570w,
          ../../../dist/images/responsive/paws-header-background-4-720px.jpeg 720w,
          ../../../dist/images/responsive/paws-header-background-4-1140px.jpeg 1140w,
          ../../../dist/images/responsive/paws-header-background-4-1440px.jpeg 1440w,
          ../../../dist/images/responsive/paws-header-background-4-2280px.jpeg 2280w,
          ../../../dist/images/responsive/paws-header-background-4-2880px.jpeg 2880w" class="lazyload blur-up" data-sizes="auto" alt="" />
  </picture>

  <div class="container">
    <div class="row">

      <div class="col-12 ColOverlap ShadowBox">
        <h1 class="PawsGap BorderBottom">Login Unsuccessful!</h1>
        <p>You are not authorized to access this portal. Please click on "Sign-Out" button and log back in with authorized credentials. Otherwise, please contact administrator.</p>

        <p>
          <button (click)="ssoLogout()">SIGN OUT</button>
        </p>

      </div><!-- /col-12 ColOverlap ShadowBox -->

    </div><!-- /row -->

    <div class="row">
      <a class="nPoweredLink" href="https://www.n-powered.com/" target="_blank" rel="nofollow"><img class="nPoweredLogo" src="../../../dist/svg/n-powered-logo.svg" alt="n-Powered" /></a>
    </div><!-- /row -->

  </div><!-- /container -->

</main><!-- /MainContent -->
