/* You can add global styles to this file, and also import other style files */
.error-span {
    color: #fb3a5f;
}

.success-span {
    color: #00a65a;
}

.login-page, .register-page {
    background: white;
}

.skin-blue .main-header .navbar {
    background-color: #0a0a0a;
}

.skin-blue .main-header .logo {
    background-color: #0a0a0a;
}

.box.box-info, .box.box-primary {
    border-top-color: #0a0a0a;
}

/*.tooltip {*/
    /*opacity: 100;*/
/*}*/